<!DOCTYPE html>
<html>

<head>
    <title>Dash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/jvectormap/jquery-jvectormap-2.0.5.css">
    <link href="/css/styles.css" rel="stylesheet">


</head>

<body>
    <div class="container">
        <img src="/img/fallen.jpg" width="75" height="75">
        <h2 class="centered-title">Fallen Miner</h2>
        <div class="centered-links">
            <a href="/dash">Dashboard</a>
            <a href="/devices">View Devices</a>
            <a href="/tasks">View Tasks</a>
        </div>

        <h3 class="centered-title">Mining Configuration</h3>
        { { range .config } }
        <form action="/mining" method="POST">
            <div>
                <label for="pool">Mining Pool : Port</label>
                <br><br>
                <input placeholder=" { { .Pool } }" type="text" id="pool" name="pool" required>
                <br><br>
                <label for="address">Wallet Address</label>
                <br><br>
                <input placeholder=" { { .Address } }" type="text" id="address" name="address" required>
                <br><br>
                <label for="password">Rig ID/Password</label>
                <br><br>
                <input placeholder=" { { .Password } }" type="text" id="password" name="password" required><br><br>
                <label for="threads">Active Threads (%)</label>
                <br><br>
                <input placeholder=" { { .Threads } }" type="number" id="threads" name="threads" required><br><br>
                <label for="idle_time">Idle Time (Minutes)</label>
                <br><br>
                <input placeholder=" { { .IdleTime } }" type="number" id="idle_time" name="idle_time" required><br><br>
                <label for="idle_threads">Idle Threads (%)</label>
                <br><br>
                <input placeholder=" { { .IdleThreads } }" type="number" id="idle_threads" name="idle_threads" required><br><br>
                <button type="submit">Submit</button>

              </div>
          </form>
          { { end } }
        <footer id="footer">
            <div>
                <p>Fallen Miner Panel V1.0</p>
            </div>
        </footer>
    </div>
    
</body>

</html>